@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes cursorBlink {
  0%,
  75% {
    opacity: 1;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes type {
  0%,
  100% {
    width: 0px;
  }

  30%,
  60% {
    width: 394.09px;
  }
}

.typing {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #3333);
}

.typing {
  color: #4fc3f7;
  letter-spacing: 5px;
  overflow: hidden;
  animation: type 5s steps(11) infinite;
}

.typing::before {
  content: "";
  width: 2px;
  height: 100%;
  background: #4fc3f7;
  animation: cursorBlink 0.8s steps(3) infinite;
}
